aiohttp
hachoir
numpy
Pillow
https://github.com/pyrogram/pyrogram/archive/asyncio-dev.zip
pyrogram==1.4.16
moviepy
requests
psutil
tgcrypto
youtube-dl
olefile
speedtest-cli
filetype
tldextract
motor
aiofiles
dnspython
beautifulsoup4
