aiohttp
beautifulsoup4
hachoir
numpy
Pillow
pyrogram==1.4.16
moviepy
requests
psutil
tgcrypto
youtube-dl
git+https://github.com/yt-dlp/yt-dlp
olefile
speedtest-cli
filetype
tldextract
motor
aiofiles
dnspython
